- extends 'Layouts/layout_no_info.haml'
- block title
Login
- endblock
- block body
%h2 Login
%form#login{:method=>'post',:action=>action}
  %div
    %input{:name=>'email',:id=>'email',:type=>'text',:value=>email,:placeholder=>'Email'}
    %label Email
  %div
    %input{:name=>'password',:id=>'password',:type=>'password',:value=>'',:placeholder=>'Password'}
    %label Password
  %div.options
    %input{:type=>'hidden',:name=>'csrf_token',:id=>'csrf_token',:value=>token}
    %input{:type=>'submit',:value=>"Login"}
    %a{:href=>resetPassUrl} I forgot my password

- endblock

- block jsFooter
- endblock
