- extends 'Layouts/layout_no_info.haml'
- block title
Login
- endblock
- block body
%h2 Account Created waiting for email verification.
Account created successfully.


- endblock

- block jsFooter
- endblock
