- extends 'Layouts/layout_no_info.haml'
- block title
Password Reset Sent
- endblock
- block body
%h2 Password Reset Sent 
Check your email and click on the like provided to reset your password.
- endblock
- block jsFooter
- endblock
