- extends 'Layouts/layout_no_info.haml'
- block title
Reset Password Request
- endblock
- block body
%h2 Reset Password Request
%form#login{:method=>'post',:action=>action}
  %div
    %input{:name=>'email',id=>'email',:type=>'text',:value=>email,:placeholder=>'Email'}
    %label Email
  %div.options
    %input{:type=>'hidden',:name=>'csrf_token',:id=>'csrf_token',:value=>token}
    %input{:type=>'submit',:value=>"Send Password Reset Request"}
%form#sign-up


- endblock

- block jsFooter
- endblock
