- extends 'Layouts/layout_no_info.haml'
- block title
Reset Passwords
- endblock
- block body
%h2 Reset Passwords
%form#login{:method=>'post',:action=>action}
  %div
    %input{:name=>'password',id=>'password',:type=>'password',:value=>'',:placeholder=>'Password'}
    %label Password
  %div
    %input{:name=>'password1',:id=>'password1',:type=>'password',:value=>'',:placeholder=>'Repeat Password'}
    %label Repeat Password
  %div.options
    %input{:type=>'hidden',:name=>'reset_token',:id=>'reset_token',:value=>reset_token['token']}
    %input{:type=>'hidden',:name=>'user_id',:id=>'user_id',:value=>user_id}
    %input{:type=>'hidden',:name=>'csrf_token',:id=>'csrf_token',:value=>token}
    %input{:type=>'submit',:value=>"Reset Password"}
%form#sign-up

- endblock

- block jsFooter
- endblock
