- extends 'Layouts/layout_no_info.haml'
- block title
Login
- endblock
- block body
%h2 Sign Up
%form#login{:method=>'post',:action=>action}
  %div
    %input{:name=>'email',id=>'email',:type=>'text',:value=>email,:placeholder=>'Email'}
    %label Email
  %div
    %input{:name=>'password',id=>'password',:type=>'password',:value=>'',:placeholder=>'Password'}
    %label Password
  %div
    %input{:name=>'password1',id=>'password1',:type=>'password',:value=>'',:placeholder=>'Password Repeted'}
    %label Password Repeated
  %div.options
    %input{:type=>'hidden',:name=>'csrf_token',:id=>'csrf_token',:value=>token}
    %input{:type=>'submit',:value=>"Sign Up"}
    %a{:href=>'/signup'} Login
%form#sign-up


- endblock

- block jsFooter
- endblock
