
p {margin:10px 0;}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #1c222b;
  color: #fff;
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #fb8d4b;
}
body a {
  color: #ff3d00;
}
body a:hover {
  color: #ff3d00;
}
body input[type="button"],
body input[type="reset"],
body input[type="submit"] {
  color: #000;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-inverse {
  background: none #100D0D;
  border: 1px solid #313131;
}
ul.mainmenu {
  padding: 0;
  margin: 0;
  background: transparent;
  float: left;
  height: 55px;
  width: 100%;
}
ul.mainmenu li {
  float: left;
  display: inline;
  position: relative;
  list-style: none;
}
ul.mainmenu li a {
  padding: 18px 15px;
  float: left;
  display: block;
  color: #ccc;
  border-bottom: 1px solid transparent;
}
ul.mainmenu li a:hover {
  text-decoration: none;
  border-bottom: 1px solid orange;
}
ul.mainmenu li ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: none #100d0d;
  display: none;
  padding: 0;
}
ul.mainmenu li ul li.active a,
ul.mainmenu li li a:hover {
  text-decoration: none;
  border-bottom: 1px solid orange;
}
ul.mainmenu li ul ul ul {
  left: 100%;
  top: 0;
  background: #999;
  display: none;
}
ul.mainmenu li.auth {
  float: right;
}
ul.mainmenu li:hover > ul li {
  min-width: 150px;
}
ul.mainmenu li:hover > ul li a {
  width: 100%;
}
ul.mainmenu li:hover ul,
ul.mainmenu li:hover > ul {
  display: block;
}
ul.mainmenu li.active a {
  text-decoration: none;
  border-bottom: 1px solid orange;
}
body.home > nav > .container {
  padding: 0px;
}
.nav-brand {
  float: left;
  height: 50px;
  padding: 16px 15px 0 0;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-shadow: none;
}
button#update {
  margin: 0 0 10px 0;
}
div#header {
  width: 100%;
  position: relative;
  min-height: 50px;
  float: left;
}
#login input[type='text'],
#login input[type='password'] {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 30px;
  padding: 5px;
  width: 250px;    
  color: #000;
}
#login .options a {
  margin-left: 15px;
}
#login input[type='submit'] {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #7bec88;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
}
input:invalid + label {
  top: 3px;
  opacity: 0;
}
input:valid + label,
input + label {
  opacity: 1;
  top: 0;
  display: none;
}
input:focus {
  outline: none;
}
input:focus + label {
  top: 100%;
  margin-top: -16px;
  display: none;
  transition: 0.2s;
}
form.add-record .options {
  padding: 15px 0px;
  float: left;
}
form.add-record .options input {
  background: none #e0e0e0;
  border: 1px #000000 solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 30px;
  margin: 0 10px 0 0;
}
.alert p {
  margin: 0px;
}
.alert.error {
  background-color: #ff9b9b;
  color: #fff;
  border: 1px solid #f00;
}
.alert.success {
  background-color: #ace0ff;
  color: #6d6d6d;
  border: 1px solid #bac6ce;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.var_dump {
  width:1000px;
  margin: 0 auto;
  color: #333; 
  font-face:monospace; 
  font-size:8pt;
}