body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #1c222b;
  color:#fff;
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h1,h2,h3,h4,h5,h6 {
  color:#fb8d4b;
}
a {
  color:#ff3d00;
}
a:hover {
  color:#ff3d00;
}
html input[type="button"], input[type="reset"], input[type="submit"] {
  color:#000;
}
.navbar-inverse {
  background:none #100d0d;
  border: 1px solid #313131;
}

ul.mainmenu {
    padding: 0;
    margin: 0;
    background: transparent;
    float: left;
    height: 55px;
}

ul.mainmenu li {
    float: left;
    display: inline;
    position: relative;
    
    list-style: none;
}
ul.mainmenu li a {
  padding: 18px 15px;
  float: left;
  display: block;
  color: #ccc;
  border-bottom: 1px solid transparent;
}
ul.mainmenu li a:hover,ul.mainmenu li.active a,ul.mainmenu li ul li.active a {
  text-decoration: none;
  border-bottom: 1px solid orange;
}
ul.mainmenu ul {
    position: absolute;
    left: 0;
    top: 100%;
    background: none #100d0d;
    display: none;
    padding: 0;
}
li:hover > ul li {
    min-width: 150px;
}
li:hover > ul li a {
  width: 100%;
}
li:hover ul {
    display: block;
}
ul ul ul {
    left: 100%;
    top: 0;
    background: #999;
    display: none;
}
li:hover > ul {
    display: block;
}
body.home > nav > .container {
  padding: 0px;
}

.nav-brand {
  float: left;
  height: 50px;
  padding: 16px 15px 0 0;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-shadow: none; 
}
button#update {
  margin: 0 0 10px 0;
}
div#header {
  width: 100%;
  position: relative;
  min-height: 50px;
  float: left;
}
#host {
  display: none;    
  margin: -25px 0 0 15px;
}
#add-host {
  position: absolute;
  top: -3px;
  left: 31px;
}
#update-dnsmasq {
  position: absolute;
  right: 0;
  top: -35px;
  background: none #ace0ff;
  border: 1px #98daa4 solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000000;
}
#update-dnsmasq.disabled {
  background: #dddddd;
  border:1px solid #d6d6d6;
  color:#909090;cursor: not-allowed;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form#host > div {
  position: relative;
  float: left;
  display: inline-block;
  margin-right: 10px;
}
form#host > div > label  {
  position: absolute;
  top: 0;
  left: 0;transition: all .2s linear; color:#999; font-size:10px;
}
table input {
  margin:0px 5px 0 0;
  padding:0px;
  height:20px;
  color:#000;
}
form#host input {
    margin: 0 0 0 0;
    padding: 3px 10px;
    // border: 1px solid #999;
    color: #000;
}
form#host input:invalid + label { top:3px; opacity:0; }
form#host input:valid + label { opacity:1; top:0; display: none;}
form#host input:focus { outline:none; }
form#host input:focus + label {
  top: 100%;
  margin-top: -16px;
  display: none;
  transition: 0.2s;
}
form#host .options {
  padding: 0 14px;
  float: left;
}
form#host .options input {
  background: none #e0e0e0;
  border: 1px #000000 solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
div#overlay .outer .cont{
  position: relative;
  top: 5px;
  left: 0;
  height: 50px;
  float: left;
}
div#overlay .outer span {
  float: left;
  font-size: 32px;
  color: #fff;
  padding: 35px 0 0 35px;
}
div#overlay .outer {
  position: relative;
  height: 100px;
  width: 300px;
  background: #000;
  margin: 0 auto;
  top:50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div#overlay .outer .cont .circle {
  top: -24px;
  left: 64px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #0DD1FF;
  position: relative;
  -webkit-animation: football 8s linear infinite, football .1s linear 50s infinite, football_up_down 1s linear infinite;
  animation: football 8s linear infinite, football .1s linear 50s infinite, football_up_down 1s linear infinite;
  float: left;
}

@-webkit-keyframes football_up_down {  
  0% { transform:rotate(180deg); top:100% } 
  50% { transform:rotate(360deg); top:30%; } 
  100% { transform:rotate(540deg); top:100% } 
}
@keyframes football_up_down {  
  0% { transform:rotate(180deg); top:100% } 
  50% { transform:rotate(360deg); top:30%; } 
  100% { transform:rotate(540deg); top:100% } 
}

h5 span.sub {
  color:#fff;
}
table.tabler {
  color: #ccc;
}
.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
  background-color: #313131;
}
.tabler>tbody>tr>td, .tabler>tbody>tr>th, .tabler>tfoot>tr>td, .tabler>tfoot>tr>th, .tabler>thead>tr>td, .tabler>thead>tr>th {
  border-top: 1px solid #5f5f5f;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 7px 5px 1px 5px;
}
table.tabler #field-value {
  width: 100px;
  min-width: 100px;
  margin: -2px 5px 0 0;
  padding: 2px 2px 0px 3px;
  display: block;
  float: left;
  color:#000;
}
table.tabler td:first-child {
  width:50px;
}
table.tabler input#update-data {
  background: url('/img/edit.png') -28px -55px no-repeat;
  cursor: pointer;
  width: 17px;
  height: 16px;
  border: none;
  text-indent: -9999px;
}
table.tabler input#cancel-data {
  margin: 0;
  background: url('/img/edit.png') -45px -55px no-repeat;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: none;
}

table.tabler input.delete {
  margin:0;
  background: url('/img/edit.png') -80px -55px no-repeat;
  cursor: pointer;
  width: 20px;
  height: 18px;
  border: none;
}
table.tabler input.delete-hover {
  margin:0;
  background: url('/img/edit.png') -62px -55px no-repeat;
  cursor: pointer;
  width: 20px;
  height: 18px;
  border: none;
}
#pager {
  margin: 10px 0;
  display: block;
  float: left;
}
#pager span {
  float: left;
  display: block;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  border:1px solid none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.pager {
  color: #fff;
  float: left;
  display: block;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  border: 1px solid #d9534f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #d9534f;
}
a.pager:hover {
  text-decoration: none;
  background-color: #a94442;
}
.flash {
  display:none;
  float:left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0px 15px;
  padding: 10px;
  width:100%;
}
.flash p {
  margin: 0px;
}
.flash.error {
  background-color: #ff9b9b;
  color: #fff;
  border: 1px solid #f00;
}
.flash.success {
  background-color: #ace0ff;
  color: #6d6d6d;
  border: 1px solid #bac6ce;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#net-wan,#net-lan,#net-wan-tx,#net-lan-tx {
  background-color: #000;
  padding: 1px;
  float: left;
  display: block;
  width:100%;
}
#net-wan .meter-outer,#net-lan .meter-outer,#net-wan-tx .meter-outer,#net-lan-tx .meter-outer {
  width: 90%;
  display: block;
  float: left;
}
#net-wan .label,#net-lan .label,#net-wan-tx .label,#net-lan-tx .label {
  background-color: #00ff40;
  color: #000;
  float: left;
  display: block;
  border-radius: 0;
  width: 55px;
}
#net-wan .meter,#net-lan .meter,#net-wan-tx .meter,#net-lan-tx .meter {
  float: left;
  display: block;
  min-width: 5px;
  background-color: #3660a9;
  color: #fff;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  margin: 0 3px 0 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
#memory > .legend > div {
  background-color: transparent !important;
}
td.legendLabel {
  padding: 0 0 0 10px;
}
#memory .legend td {
  color: #ccc;
}