- extends 'Layouts/layout.haml'
- block title
DNS
- endblock
-block heading
%h2 DNS
- endblock
- block body
.row
  .col-md-12
    %table#data.table.table-hover.table-condensed{:width=>'100%'}

- endblock

- block jsFooter
%script{:src=>"/js/inlineTabler.js", :type=>'text/javascript'}
:javascript
  var header = ['Mac Address','IP Address','Hostname'];
  var columns = ['physical_address','ip_address','hostname'];
  $('table#data').inlineTabler({
    'editor':false,
    'option':true,
    'options': [
      ['type',
        ['option'],
       'value',
        ['create-static-host']
      ]
    ],
    'header':header, 
    'methodType':'GET',
    'dataUrl':'/network/dhcp/getleases',
    'columns':columns,
    'rowsPerPage':15,
    'init':true,
    'rowsPerPage':10,
    'protected':[0]
  });

- endblock
