- extends 'Layouts/layout.haml'
- block title
Dhcp
- endblock
-block heading
%h2 Dhcp
- endblock
- block body
.row
  .col-md-12
    %button#update-dnsmasq Reload Dhcp Server
.row
  .col-md-12
    %table#data.table.table-hover.table-condensed

- endblock

- block jsFooter
%script{:src=>"/js/inlineTabler.js", :type=>'text/javascript'}
:javascript
  var header = ['Id','Hostname','Ip Address','Mac Address','Status'];
  var columns = ['id','hostname','ip_address','physical_address','status']
  $('table#data').inlineTabler({
    'editor':true,
    'header':header, 
    'protected':[0],
    'methodType':'GET',
    'dataUrl':'/network/dns/getHosts',
    'updateUrl':'/network/dns/update',
    'addUrl':'/network/dns/add',
    'delUrl':'/network/dns/del',
    'columns':columns,
    'rowsPerPage':10,
    'tableName':'dhcps',
    'fieldTypes': [
      ['4','option',
        [['Active','enabled'],
        ['Disabled','disabled']]
      ]
    ],
    'init':true,
    'updateAfter':function(){
      $('#update-dnsmasq').attr('class','');
    }
  });
  $('#update-dnsmasq').click(function(e) {
    $.get('/network/dns/update-hosts', function( data ) {
      console.log( data );
      alert( "ReLoad was performed." );
    });
  });

- endblock